@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

@keyframes rotate {
    50% {
        transform : rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    text-align: center;
}
body{
    position: relative;
    font-family: 'GmarketSansMedium';
    background-color: #5B2386;
    color: white;
    font-size: 20px;
}

.sr-only {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}

.title_img {
    margin: 50px 0;
    position: relative;
}

.title_img .title-timerule{
    position: absolute;
    width: 564px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title_img .title-clock{
    width: 265px;
    height: 265px;
}

.img-prac{
    width: 486px;
    margin-bottom: 78px;
}
.prac-img-wrap{
    position: relative;
    margin-bottom: 102px;
}

.img-quotes{
    width: 460px;
    position: absolute;
    margin-left: -230px;
    margin-top: 25px;
}
.img-desc{
    font-size: 18px;
    line-height: 1.7;
}
.title-desc{
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: 24px;
}

.input-box{
    width: 228px;
    height: 57px;
    border: none;
    border-radius: 7px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 27px;
}
::placeholder {
    color: #BABCBE;
    font-family: 'GmarketSansMedium';
}
.click-wrap{
    margin-top: 50px; /* 수정 */
}
.btn-how , .btn-go, .btn-share{
    background-color: #FCEE21;
    font-family: 'GmarketSansBold';
    font-size: 20px;
    border: none;
    padding: 10px 40px;
    border-radius: 56px;    
    color: #5B2386;
    cursor: pointer;
}
.img-click{
    position: absolute;
    vertical-align: baseline;
}
.btn-share {
    background-color: white;
    color: #5B2386;
    margin-top: 50px;
}
.cont-result{
    margin: 80px 0;
    display: none;
}

.cont-result p+p {
    margin: 20px 0;
}
.input-data.job , .day{
    font-size: 70px;
    font-family: "GmarketSansBold";
}

.cont-result .img-wrap{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-bottom: 70px;
}
.cont-result .img-wrap img{
    width: 100%;
    animation: rotate 1s infinite linear;
}

.cont-footer{
    margin-top: 50px;
}

.foot-logo{
    width: 125px;
    height: 25px;
    margin-bottom: 20px;
}

.txt-footer{
    display: block;
    font-size: 12px;
    line-height: 1.7;
    margin-bottom: 50px;
}

#cont-modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.cheer-modal-wrap{
    width: 600px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding: 25px 0;
    border-radius: 25px;
    /* display: none; */ /* modal hide */
}
.heart-modal{
    margin-bottom: 4px;
}

.licat-modal{
    margin-bottom: 30px;
}

@media all and (min-width: 360px) and (max-width: 767px){
    body{
        font-size: 18px;
    }
    .title_img {
        margin: 40px 0;
    }
    .title_img .title-timerule{
        width: 430px;
    }
        
    .title_img .title-clock{
        width: 180px;
        height: 180px;
    }
    .img-prac{
        width: 440px;
        margin-bottom: 40px;
    }
    .img-quotes{
        width: 430px;
        top: 35%;
        transform: translate(0, -50%);
    }
    .prac-img-wrap{
        margin-bottom: 60px;
    }
    ::placeholder {
        font-size: 18px;
    }

    .title-desc{
        font-size: 20px;
    }
    .txt-plan .txt-front{
        display: block;
        padding-bottom: 20px;
    }

    .btn-how , .btn-go, .btn-share{
        font-size: 18px;
    }
    .btn-how {
        width: 300px;
        border-radius: 20px;
    }
    .click-wrap{
        margin-top: 40px;
    }
    .input-data.job , .day{
        font-size: 30px;
    }
    .input-box{
        width: 200px;
        height: 47px;
        font-size: 20px;
    }
    .btn-share {
        margin-top: 40px;
    }
    .cont-footer{
        margin-top: 40px;
    }
    .txt-footer{
        font-size: 10px;
    }
}